{% extends '::base_frontend.html.twig' %}

{% block body -%}

  <div id="page" class="container">

    <header class="page-header">
      <h1>Aeurus Themes<small> selecciona las etiquetas que te gusten:</small></h1>

      <div class="description">
        <p class="lead">
          <span>Combines the epic powers of </span>
          <span>Twitter Bootstrap and jQuery Isotope</span>
        </p>
      </div>
      <div class="actions">
        <div class="btn-toolbar">
          <div class="btn-group pull-right mBottom">
            <a class="btn btn-success" href="#">
              Siguiente
            </a>
          </div>

        </div>
      </div>

    </header>

    <div class="page-header">
      {% for tag in tags %}
        <span class="badge badge-info filter"><input type="checkbox" value="{{tag.name}}" class="filter-check"> {{tag.name}}</span>
      {% endfor %}
    </div>

    <div id="themes" class="isotope row">
      {% for theme in themes %}
      <div id="{{ theme.id }}" class="theme item span2 {% for tag in theme.tags %} {{ tag.name }} {% endfor %} ">
        <div class="well">
          <h4>
            <a href="{{ path('admin_theme_edit', { 'id': theme.id }) }}" target="_blank">{{ theme.name }}</a>
          </h4>
          <div class="info">
            <img src="{{ asset(theme.getWebPath) }}" alt="{{ theme.name }}" width="130"/>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
    $(window).ready(function(){
      $themes = $('#themes');
      $filters_array = Array();

      $themes.imagesLoaded( function(){
        $themes.isotope({
          itemSelector : '.item',
          layoutMode : 'masonry',
        });
      });

      $(".filter").click(function() { 
        if(!$(this).find(':checkbox').is(':checked')) {
            $(this).find(':checkbox').attr('checked', true);
            console.log($filters_array.length);
            ($filters_array.length == 0) ? $filters_array.push('.'+$(this).find(':checkbox').val()) : $filters_array.push($(this).find(':checkbox').val());
            $themes.isotope({ filter: $filters_array.join('.') });
            console.log('Filtros: ' + $filters_array.join('.'));
        } else {
            $(this).find(':checkbox').attr('checked', false); 
            $filters_array.splice( $.inArray($(this).find(':checkbox').val(), $filters_array), 1 );
            $themes.isotope({ filter: $filters_array.join('.') });
            console.log('Filtros: ' + $filters_array.join('.'));
        }  
      });
    });

  </script>
  
{% endblock %}
