{% extends '::base_frontend.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" class="pull-right" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block choice_widget_expanded %}
<div id="themes" class="isotope row">
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}

      {% set theme = form.vars.choices[child.vars.value].data %}

      <div id="{{ theme.id }}" class="theme item span2 {% for tag in theme.tags %} {{ tag.name }} {% endfor %} ">
        <div class="well">
          <h4>
            <a href="{{ path('admin_theme_edit', { 'id': theme.id }) }}" target="_blank">{{  theme.name }}</a>
            {{ form_widget(child) }}
          </h4>
          <div class="info">
            <img src="{{ asset( theme.getWebPath ) }}" alt="{{ theme.name }}" width="130"/>
          </div>
        </div>
      </div>
        
    {% endfor %}
    </div>
{% endspaceless %}
</div>
{% endblock choice_widget_expanded %}

{% block body -%}



  <div id="page" class="container">

    <form action="{{ path('order_step_1') }}" method="post" {{ form_enctype(form) }}>


    <header class="page-header">

      <div class="description">
        <p class="lead">
          <span>Selecciona las plantillas que te gusten:</span>
        </p>
      </div>
      <div class="actions">
        <div class="btn-toolbar">
          <div class="btn-group pull-right mBottom">
            <button type="submit" class="btn btn-success"> Siguiente </button>
          </div>
        </div>
      </div>

    </header>

    <div class="page-header">
      {% for tag in tags %}
        <span class="badge badge-info filter"><input type="checkbox" value="{{tag.name}}" class="filter-check"> {{tag.name}}</span>
      {% endfor %}
    </div>

        {{ form_errors(form) }}

        {{ form_label(form.themes) }}
        {{ form_errors(form.themes) }}
        {{ form_widget(form.themes) }}

        {{ form_rest(form) }}

  </div>

  <script>
    $(window).ready(function(){
      $themes = $('#themes');
      $filters_array = Array();

      $themes.imagesLoaded( function(){
        $themes.isotope({
          itemSelector : '.item',
          layoutMode : 'masonry',
        });
      });

      $(".filter").click(function() { 
        if(!$(this).find(':checkbox').is(':checked')) {
            $(this).find(':checkbox').attr('checked', true);
            console.log($filters_array.length);
            ($filters_array.length == 0) ? $filters_array.push('.'+$(this).find(':checkbox').val()) : $filters_array.push($(this).find(':checkbox').val());
            $themes.isotope({ filter: $filters_array.join('.') });
            console.log('Filtros: ' + $filters_array.join('.'));
        } else {
            $(this).find(':checkbox').attr('checked', false); 
            $filters_array.splice( $.inArray($(this).find(':checkbox').val(), $filters_array), 1 );
            $themes.isotope({ filter: $filters_array.join('.') });
            console.log('Filtros: ' + $filters_array.join('.'));
        }  
      });
    });

  </script>
  
{% endblock %}
