{% extends '::base_frontend.html.twig' %}

{% block body -%}

<header class="page-header">
    <div class="description">
        <p class="lead">
            <span>{{ theme.name }}</span>
        </p>
    </div>
    <a href="{{ path('survey', { 'application_id': application, 'theme_id': theme.id }) }}" class="btn btn-success pull-right"> Ver Encuesta</a>
<div class="clearfix"></div>
</header>

<div class="span6">
<img src="{{ asset( theme.getWebPath ) }}" alt="{{ theme.name }}" width="500" id="theme"/>
<hr>
<form action="{{ path('frontend_receiver_create', { 'theme_id': theme.id, 'id': application }) }}" method="post" {{ form_enctype(receiverForm) }} class="form-inline">

    <div class="control-group">

        <div class="input-prepend input-append">
          <span class="add-on">{{ form_label(receiverForm.email) }}</span>
          {{ form_widget(receiverForm.email, { 'attr': {'class': 'span4'} } ) }}
          <button type="submit" class="btn">Agregar</button>
        </div>
        
        {{ form_errors(receiverForm.email) }}
        
    </div>

    {{ form_widget(receiverForm.application, { value : application }) }}

    {{ form_widget(receiverForm.theme, { value : theme.id }) }}

    {{ form_rest(receiverForm) }}
</form>
<hr>
{% for receiver in receivers %}
    <p>{{ receiver.email }}</p>
{% endfor %}

</div>
<div class="span6">
<h4>Preguntas</h4>

<hr>

{% for question in questions %}
    <div id="{{ question.id }}" class="question row">
        
        <div class="span4">
            <h4>{{ question.description }} <br>
            <small>Tipo: {% if question.type == 0 %} Texto {% else %} Opciones {% endif %}</small> </h4>
            {% if question.type == 1 %}

                {% if question.options %}
                    <div class="control-group" style="padding-left: 30px">
                    {% for option in question.options %}
                        <label class="radio">
                          <input type="radio" name="{{ question.id }}" value="{{ option.answer }}">
                          {{ option.answer }}
                        </label>
                    {% endfor %}
                    </div>
                {% endif %}
                
            {% endif %}

        </div>
        {% if question.type == 1 %}
        <div class="span2">
            <br>
            <a href="{{ path('question_new_option_answer', { 'application_id': application, 'theme_id': theme.id, 'question_id': question.id }) }}" class="btn btn-small pull-right">Agregar Opción</a>
        </div>
        {% endif %}
    
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#{{ question.id }}').mouseover(function (){
                $(this).toggleClass('questionOver');
                $('img#theme').imgAreaSelect({
                    hide: false,
                    x1: "{{ question.x1 }}", 
                    y1: "{{ question.y1 }}", 
                    x2: "{{ question.x2 }}", 
                    y2: "{{ question.y2 }}"
                });
            })
            .mouseout(function() {
                $(this).toggleClass('questionOver');
                $('img#theme').imgAreaSelect({ 
                    hide: true
                });
            });
        });
    </script>
    
{% endfor %}

<h4>Agregar Pregunta</h4>
<form action="{{ path('frontend_themequestion_create', { 'theme_id': theme.id, 'id': application }) }}" method="post" {{ form_enctype(form) }} >
    <p>Seleccione el área de la plantilla y luego llene el siguiente formulario.</p>
    <div class="control-group">
        {{ form_label(form.description, 'Pregunta:') }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'input-xxlarge'} } ) }}
    </div>

    <div class="control-group">
        {{ form_label(form.type, 'Tipo:') }}
        {{ form_errors(form.type) }}
        {{ form_widget(form.type) }}
    </div>

    {{ form_widget(form.application, { value : application }) }}

    {{ form_widget(form.theme, { value : theme.id }) }}

    {{ form_rest(form) }}

    <p>
        <button type="submit" class="btn">Agregar</button>
    </p>
</form>

</div>

<script type="text/javascript">
$(document).ready(function () {
    $('img#theme').imgAreaSelect({
        handles: true,
        onSelectChange: preview
    });


    function preview(img, selection) {
        if (!selection.width || !selection.height)
            return;
        
        var scaleX = 100 / selection.width;
        var scaleY = 100 / selection.height;

        $('#preview img').css({
            width: Math.round(scaleX * 300),
            height: Math.round(scaleY * 300),
            marginLeft: -Math.round(scaleX * selection.x1),
            marginTop: -Math.round(scaleY * selection.y1)
        });

        $('#aeurus_adminbundle_themequestiontype_x1').val(selection.x1);
        $('#aeurus_adminbundle_themequestiontype_y1').val(selection.y1);
        $('#aeurus_adminbundle_themequestiontype_x2').val(selection.x2);
        $('#aeurus_adminbundle_themequestiontype_y2').val(selection.y2);
   
    }

});


</script>

{% endblock %}
