{% extends '::base_frontend.html.twig' %}

{% block body -%}

<header class="page-header">
  <div class="description">
      <p class="lead">
          <span>{{ theme.name }}</span>
      </p>
  </div>
  <div class="clearfix"></div>
</header>

<div class=="row">
  <div class="span6">
    <img src="{{ asset( theme.getWebPath ) }}" alt="{{ theme.name }}" width="500" id="theme"/>
  </div>
  <div class="span6">
    <h2>Resultados</h2>
    <hr>
    {% for question in questions %}

      {% if question.type == 1 %}
        {% if question.options %}
        <div class="row">
          <div class="span6">
            <div id="{{ question.id }}" style="width: 470px; height: 300px;"></div>
            <script type="text/javascript">
              $(document).ready(function () {

                google.setOnLoadCallback(drawChart);
                function drawChart() {
                  var data = google.visualization.arrayToDataTable([
                    ['Opción', 'Cantidad'],
                    {% for option in question.options %}
                      ['{{ option.answer }}', 50],
                    {% endfor %}
                  ]);

                  var options = {
                    title: '{{ question.description }}',
                    titleTextStyle: { fontSize: 16, bold: true }
                  };

                  var chart = new google.visualization.PieChart(document.getElementById('{{ question.id }}'));
                  chart.draw(data, options);
                }

              });
            </script>
          </div>
          {#
          <div class="span2">
            <ul>
              {% for option in question.options %}
                <li>{{ option.answer }}</li>
              {% endfor %}
            </ul>
          </div>
          #}
        </div>
        {% endif %}

      {% else %}


        <h4>{{ question.description }}</h4>

        <div class="row">
          <div class="span6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac lacus porta, lobortis leo ac, cursus tortor. Pellentesque egestas elit ornare congue hendrerit</p>
          </div>
        </div>
      
      {% endif %}
      <hr>
    {% endfor %}

    

  </div>
</div>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
</script>

{% endblock %}