{% extends '::base_frontend.html.twig' %}

{% block body -%}


<header class="page-header">
  <div class="description">
    <p class="lead">
      <span>Selecciona una plantilla para agregar comentarios.</span>
    </p>
  </div>

  <div class="actions">
    <div class="btn-toolbar">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
            {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
  </div>
</header>

<div class="description">
    <p class="lead"><strong>Descripción:</strong> <br/>{{ entity.description }}</p>
</div>


<div id="themes" class="isotope row">
    {% for theme in entity.themes %}
    <div class="theme item span2">
        <div class="well">
            <h4>
                <a href="{{ path('admin_theme_edit', { 'id': theme.id }) }}">{{  theme.name }}</a>
            </h4>
            <div class="info">
                <a href="{{ path('admin_theme_edit', { 'id': theme.id }) }}">
                    <img src="{{ asset( theme.getWebPath ) }}" alt="{{ theme.name }}" width="130"/>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}