<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Aeurus Themes{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
            <link href="{{ asset('/css/main.css') }}" type="text/css" rel="stylesheet" />
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="pure-g-r content" id="layout">

            <div class="pure-u" id="nav">
                <a href="#nav" class="nav-menu-button">Menú</a>
                <a href="{{ path('admin_theme') }}">
                    Hola! 
                    {% if is_granted("ROLE_USER") %}
                        {{ app.user.FirstName }}
                    {% endif %}
                    {# <img src="{{ asset('img/logo.png') }}" /> #}
                </a>
                <br/><br/>
                <div class="nav-inner">
                    <div class="pure-menu pure-menu-open">
                        <ul>
                            <li>
                                <a href="{{ path('admin_theme') }}">
                                    <span class="label-themes"></span>Plantillas
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_tag') }}">
                                    <span class="label-tags"></span>Etiquetas
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('admin_user') }}">
                                    <span class="label-users"></span>Usuarios
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label-statistics"></span>Estadísticas
                                </a>
                            </li>
                            <li class="pure-menu-heading">Configuración</li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            {% endif %}
                            <li><a href="#">Conf. 2</a></li>
                            {#
                            <li><a href="{{ path('admin_editorial') }}">Editoriales</a></li>
                            <li><a href="{{ path('admin_source') }}">Fuentes</a></li>
                            #}
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="pure-u" id="main">
            {% block body %}

            {% endblock %}
            </div>
        
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
