<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
            <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
            <link href="{{ asset('css/theme.css') }}" rel="stylesheet">
            <link href="{{ asset('css/theme-responsive.css') }}" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
            <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.ba-hashchange.min.js') }}"></script>
            <script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
            <script src="{{ asset('js/imagesloaded.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}

            {% endblock fos_user_content %}
        </div>
    </body>
</html>
