{% extends '::base.html.twig' %}

{% block body -%}

    <div class="content pure-g">
        <div class="content-header pure-g">
            <div class="pure-u-1-2">
                <h1 class="content-title">Pedidos</h1>
                <p class="content-subtitle">
                    Listado de pedidos al <span>{{ "now"|date("d/M/Y") }}</span>
                </p>
            </div>
        </div>
        <div class="content-body pure-u-1">
            <table class="pure-table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Nombre</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr {{  cycle(['class=pure-table-odd', ''] , loop.index)  }}>
                        <td>
                            {{ entity.user.firstName  ~ ' ' ~ entity.user.lastName }}
                        </td>
                        <td>
                            <a href="{{ path('admin_application_show', { 'id': entity.id }) }}">{{ entity.description }}</a>
                        </td>
                        <td>
                            <a href="{{ path('admin_application_show', { 'id': entity.id }) }}">
                                <img src="{{ asset('img/icons/edit.png') }}" alt="Editar" />
                            </a>
                            <a href="{{ path('admin_application_delete', { 'id': entity.id }) }}" onclick="return confirm('¿Está seguro?');">
                                <img src="{{ asset('img/icons/trash.png') }}" alt="Eliminar" />
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
