{% extends '::base.html.twig' %}

{% block body -%}

<div class="content pure-g">
    <div class="content-header pure-g">
        <div class="pure-u-1-2">
            <h1 class="content-title">Pedido</h1>
            <p class="content-subtitle">
                {{ entity.description }} | Solicitado por: {{ entity.user.firstName  ~ ' ' ~ entity.user.lastName }}
            </p>
        </div>
        <div class="pure-u-1-2 content-controls">
            <a class="pure-button secondary-button" href="{{ path('admin_application') }}">Volver</a>
        </div>
    </div>
    <div class="content-body pure-g">

        <div class="pure-u-1-5">
            {% for theme in entity.themes %}
            <div class="theme item span3">
                <div class="well">
                    <h4>
                        <a href="#">{{  theme.name }}</a>
                    </h4>
                    <div class="info">
                        <a href="#">
                            <img src="{{ asset( theme.getWebPath ) }}" alt="{{ theme.name }}" width="120"/>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>


{% endblock %}
